.App {
  text-align: center;
  background-color: #454749;
}

.App-header {
  color: white;
  text-align: left;
}

.App-body {
  background-color: #454749;
  position: relative;
}

.App-footer {
  color: lightslategray;
  font-size: small;
}

.App-logo {
  height: 13vmin;
  padding-left: 5%;
}

.super-rounded {
  border-radius: 3rem !important;
}

.my-content {
  text-align: left;
}

.align-right {
  text-align: right;
}

.notif {
  position: absolute; top: 0; right: 0;
  padding: 1rem;
}